body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.label {
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}

.input {
  font-family: inherit;
  width: 100%;
  font-size: 16px;
  padding: 8px;
  border: none;
  outline: none;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  width: 100%;
  padding: 8px;
  font-size: 16px;
  align-self: end;
  /* background-color: #432b8b; */
  color: #fff;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: 600;
  transition: all 0.3s;
}

/* HEADER AND FOOTER */

header {
  margin-bottom: 70px;
  margin-top: 16px;
}
.logo-link {
  text-decoration: none;
  text-transform: uppercase;
  padding: 12px;
  font-size: 22px;
  font-weight: 700;
  /* text-align: center; */
  color: #6741d9;
  position: relative;

  margin-left: 20px;
}
footer p {
  font-size: 14px;
  color: #222;
  text-align: center;
  margin-top: 92px;
  padding: 0;
}

footer a {
  text-decoration: none;
  font-weight: 500;
  color: #000;
}
